altgraph==0.17.4
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
engineering-notation==0.10.0
google-auth==2.29.0
idna==3.7
kubernetes==30.1.0
macholib==1.16.3
oauthlib==3.2.2
packaging==24.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==70.0.0
six==1.16.0
tk==0.1.0
tk-tools==0.16.0
urllib3==2.2.1
websocket-client==1.8.0
